#banner {
    animation-iteration-count: infinite;
    animation-delay: 3s;
    animation-name: slide;
    animation-duration: 1200s;
    animation-timing-function: linear;
    width: 99.5%;
    overflow: hidden;
    padding-top: 15%;
    background-image: url('../../images/slidesite.jpg');
    background-size: cover;
    background-position:0% center;
    display: block;
    border: solid 3px #AA823A;
}
